[submodule "asciidoc-resources"]
	path = asciidoc-resources
	url = https://code.asam.net/simulation/asciidoc-resources.git
[submodule "flatbuffers"]
	path = flatbuffers
	url = https://github.com/google/flatbuffers.git
